[user]
	email = olaclassik@gmail.com
	name = Olawale Oyeyipo

[alias]
	# Remove branches which have been deleted from remote
	prune = fetch --prune

	# undo last commit but keep staging
	undo = reset --soft HEAD^

	# stash absolutely everything right now
	stash-all = stash save --include-untracked

	# easier to read log
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[pull]
	rebase = true

[init]
	defaultbranch = main

[merge]
	# show original change, incoming change, and unchanged
	conflictstyle = diff3

[branch]
	autosetuprebase = always

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
