keybinds clear-defaults=true {
  locked {
    bind "Ctrl g" {
      SwitchToMode "normal"
    }
  }
  pane {
    bind "left" "h" {
      MoveFocus "left"
    }
    bind "down" "j" {
      MoveFocus "down"
    }
    bind "up" "k" {
      MoveFocus "up"
    }
    bind "right" "l" {
      MoveFocus "right"
    }
    bind "c" {
      SwitchToMode "renamepane"
      PaneNameInput 0
    }
    bind "d" {
      NewPane "down"
      SwitchToMode "locked"
    }
    bind "e" {
      TogglePaneEmbedOrFloating
      SwitchToMode "locked"
    }
    bind "f" {
      ToggleFocusFullscreen
      SwitchToMode "locked"
    }
    bind "i" {
      TogglePanePinned
      SwitchToMode "locked"
    }
    bind "n" {
      NewPane
      SwitchToMode "locked"
    }
    bind "p" {
      SwitchToMode "normal"
    }
    bind "r" {
      NewPane "right"
      SwitchToMode "locked"
    }
    bind "s" {
      NewPane "stacked"
      SwitchToMode "locked"
    }
    bind "w" {
      ToggleFloatingPanes
      SwitchToMode "locked"
    }
    bind "x" {
      CloseFocus
      SwitchToMode "locked"
    }
    bind "z" {
      TogglePaneFrames
      SwitchToMode "locked"
    }
    bind "tab" {
      SwitchFocus
    }
  }
  tab {
    bind "left" "h" {
      MoveFocusOrTab "left"
      SwitchToMode "locked"
    }
    bind "right" "l" {
      MoveFocusOrTab "right"
      SwitchToMode "locked"
    }
    bind "down" "j" {
      MoveFocusOrTab "right"
      SwitchToMode "locked"
    }
    bind "up" "k" {
      MoveFocusOrTab "left"
      SwitchToMode "locked"
    }
    bind "1" {
      GoToTab 1
      SwitchToMode "locked"
    }
    bind "2" {
      GoToTab 2
      SwitchToMode "locked"
    }
    bind "3" {
      GoToTab 3
      SwitchToMode "locked"
    }
    bind "4" {
      GoToTab 4
      SwitchToMode "locked"
    }
    bind "5" {
      GoToTab 5
      SwitchToMode "locked"
    }
    bind "6" {
      GoToTab 6
      SwitchToMode "locked"
    }
    bind "7" {
      GoToTab 7
      SwitchToMode "locked"
    }
    bind "8" {
      GoToTab 8
      SwitchToMode "locked"
    }
    bind "9" {
      GoToTab 9
      SwitchToMode "locked"
    }
    bind "[" {
      BreakPaneLeft
      SwitchToMode "locked"
    }
    bind "]" {
      BreakPaneRight
      SwitchToMode "locked"
    }
    bind "b" {
      BreakPane
      SwitchToMode "locked"
    }
    bind "n" {
      NewTab
      SwitchToMode "locked"
    }
    bind "r" {
      SwitchToMode "renametab"
      TabNameInput 0
    }
    bind "s" {
      ToggleActiveSyncTab
      SwitchToMode "locked"
    }
    bind "t" {
      SwitchToMode "normal"
    }
    bind "x" {
      CloseTab
      SwitchToMode "locked"
    }
    bind "tab" {
      ToggleTab
    }
  }
  resize {
    bind "left" "h" {
      Resize "Increase left"
    }
    bind "down" "j" {
      Resize "Increase down"
    }
    bind "up" "k" {
      Resize "Increase up"
    }
    bind "right" "l" {
      Resize "Increase right"
    }
    bind "+" "=" {
      Resize "Increase"
    }
    bind "-" {
      Resize "Decrease"
    }
    bind "H" {
      Resize "Decrease left"
    }
    bind "J" {
      Resize "Decrease down"
    }
    bind "K" {
      Resize "Decrease up"
    }
    bind "L" {
      Resize "Decrease right"
    }
    bind "r" {
      SwitchToMode "normal"
    }
  }
  move {
    bind "left" "h" {
      MovePane "left"
    }
    bind "down" "j" {
      MovePane "down"
    }
    bind "up" "k" {
      MovePane "up"
    }
    bind "right" "l" {
      MovePane "right"
    }
    bind "m" {
      SwitchToMode "normal"
    }
    bind "n" "tab" {
      MovePane
    }
    bind "p" {
      MovePaneBackwards
    }
  }
  scroll {
    bind "e" {
      EditScrollback
      SwitchToMode "locked"
    }
    bind "f" {
      SwitchToMode "entersearch"
      SearchInput 0
    }
    bind "s" {
      SwitchToMode "normal"
    }
  }
  search {
    bind "c" {
      SearchToggleOption "CaseSensitivity"
    }
    bind "n" {
      Search "down"
    }
    bind "o" {
      SearchToggleOption "WholeWord"
    }
    bind "p" {
      Search "up"
    }
    bind "w" {
      SearchToggleOption "Wrap"
    }
  }
  session {
    bind "a" {
      LaunchOrFocusPlugin "zellij:about" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "c" {
      LaunchOrFocusPlugin "configuration" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "d" {
      Detach
    }
    bind "o" {
      SwitchToMode "normal"
    }
    bind "p" {
      LaunchOrFocusPlugin "plugin-manager" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "s" {
      LaunchOrFocusPlugin "zellij:share" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "w" {
      LaunchOrFocusPlugin "session-manager" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
  }
  shared_among "normal" "locked" {
    bind "Alt +" "Alt =" {
      Resize "Increase"
    }
    bind "Alt -" {
      Resize "Decrease"
    }
    bind "Ctrl 1" {
      GoToTab 1
    }
    bind "Ctrl 2" {
      GoToTab 2
    }
    bind "Ctrl 3" {
      GoToTab 3
    }
    bind "Ctrl 4" {
      GoToTab 4
    }
    bind "Ctrl 5" {
      GoToTab 5
    }
    bind "Ctrl 6" {
      GoToTab 6
    }
    bind "Ctrl 7" {
      GoToTab 7
    }
    bind "Ctrl 8" {
      GoToTab 8
    }
    bind "Ctrl 9" {
      GoToTab 9
    }
    bind "Alt [" {
      PreviousSwapLayout
    }
    bind "Alt ]" {
      NextSwapLayout
    }
    bind "Alt f" {
      ToggleFloatingPanes
    }
    bind "Alt i" {
      MoveTab "left"
    }
    bind "Alt o" {
      MoveTab "right"
    }
    bind "Alt n" {
      NewPane
    }
    bind "Alt p" {
      TogglePaneInGroup
    }
    bind "Alt Shift p" {
      ToggleGroupMarking
    }
    // Unified Neovim Navigator Plugin Binds
    bind "Ctrl h" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
        name "move_focus"
        payload "left"
        floating false
      }
    }
    bind "Ctrl j" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
        name "move_focus"
        payload "down"
        floating false
      }
    }
    bind "Ctrl k" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
        name "move_focus"
        payload "up"
        floating false
      }
    }
    bind "Ctrl l" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
        name "move_focus"
        payload "right"
        floating false
      }
    }
  }
  shared_except "locked" "renametab" "renamepane" {
    bind "Ctrl g" {
      SwitchToMode "locked"
    }
    bind "Ctrl q" {
      Quit
    }
  }
  shared_except "locked" "entersearch" {
    bind "enter" {
      SwitchToMode "locked"
    }
  }
  shared_except "locked" "entersearch" "renametab" "renamepane" {
    bind "esc" {
      SwitchToMode "locked"
    }
  }
  shared_except "locked" "entersearch" "renametab" "renamepane" "move" {
    bind "m" {
      SwitchToMode "move"
    }
  }
  // Added "session" exclusion to fix the ghost tab bug:
  shared_except "locked" "entersearch" "search" "renametab" "renamepane" "session" {
    bind "o" {
      SwitchToMode "session"
    }
  }
  shared_except "locked" "tab" "entersearch" "renametab" "renamepane" {
    bind "t" {
      SwitchToMode "tab"
    }
  }
  shared_among "normal" "resize" "tab" "scroll" "prompt" "tmux" {
    bind "p" {
      SwitchToMode "pane"
    }
  }
  shared_among "normal" "resize" "search" "move" "prompt" "tmux" {
    bind "s" {
      SwitchToMode "scroll"
    }
  }
  shared_except "locked" "resize" "pane" "tab" "entersearch" "renametab" "renamepane" "session" {
    bind "r" {
      SwitchToMode "resize"
    }
  }
  shared_among "scroll" "search" {
    bind "PageDown" "right" "l" "Ctrl f" {
      PageScrollDown
    }
    bind "PageUp" "left" "h" "Ctrl b" {
      PageScrollUp
    }
    bind "down" "j" {
      ScrollDown
    }
    bind "up" "k" {
      ScrollUp
    }
    bind "Ctrl c" {
      ScrollToBottom
      SwitchToMode "locked"
    }
    bind "d" {
      HalfPageScrollDown
    }
    bind "u" {
      HalfPageScrollUp
    }
  }
  entersearch {
    bind "Ctrl c" "esc" {
      SwitchToMode "scroll"
    }
    bind "enter" {
      SwitchToMode "search"
    }
  }
  renametab {
    bind "esc" {
      UndoRenameTab
      SwitchToMode "tab"
    }
  }
  shared_among "renametab" "renamepane" {
    bind "Ctrl c" {
      SwitchToMode "locked"
    }
  }
  renamepane {
    bind "esc" {
      UndoRenamePane
      SwitchToMode "pane"
    }
  }
}
// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
  about location="zellij:about"
  compact-bar location="zellij:compact-bar"
  configuration location="zellij:configuration"
  filepicker location="zellij:strider" {
    cwd "/"
  }
  plugin-manager location="zellij:plugin-manager"
  session-manager location="zellij:session-manager"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  tab-bar location="zellij:tab-bar"
  welcome-screen location="zellij:session-manager" {
    welcome_screen true
  }
}
// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {

}
ui {
  pane_frames {
    rounded_corners true
  }
}
web_client {
  font "monospace"
}
theme "nightfox"
// Choose the base input mode of zellij.
// Default: normal
default_mode "locked"
// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
serialize_pane_viewport true
// Whether to show tips on startup
// Default: true
show_startup_tips false
